.esia {
    background-color: darkgray;
    width: 100%;
    height: 20%;
    float: left;
    clear: both;
    text-align: center;
    }

img{
    float: center; 
    
}


* {
    background-color: darkgrey;
    color: yellow;
    font-family: Tahoma;
}

